@import "./variables.scss";
@import './mixins.scss';

// INITIAL PAGE ----------------------
.initial-container {
    background-color: $darkblue;
    background-image: url('../utils/wallpaper.jpg');
    background-size: cover;
    height: calc(100vh - 70px);
    max-width: 100% !important; 
    padding: 0 20px !important;
    position: $relative; 
    text-align: $center;
    @include breakpoint-tablet-desktop {
        padding: 0 12% !important;
    }
    @include  breakpoint-desktop-1 {
        padding: 0 20px !important
    }
    &::before {
        background-color: rgba(0,0,0,0.7);
        bottom: 0px;
        content: "";
        left: 0px;
        position: $absolute;
        right: 0px;
        top: 0px;
    }
    .initial-title {       
        color: $white;
        font-size: 35px;
        font-weight: bold;
        position: $relative;
        top: 100px;
        @include breakpoint-tablet {
            font-size: 65px;
            top: 150px;
        }
        @include breakpoint-tablet-desktop {
            top: 200px;
        }
    }
    .initial-p {
        color: $white;
        position: $relative;
        top: 110px;
        @include breakpoint-tablet {
            font-size: 25px;
            top: 140px;
        }
        @include breakpoint-tablet-desktop {
            top: 195px;
        }
    }
    .initial-button {
        background-color: $yellow !important;
        border: $yellow !important;
        color: $black;
        text-transform: $uppercase;
        position: $relative !important;
        top: 120px;
        width: 100% !important;
        &:hover {
            background-color: $purple !important;
        }
        @include breakpoint-tablet {
            width: 30% !important;
            top: 150px;
        }
        @include breakpoint-tablet-desktop {
            top: 210px;
        }
    }
}

// FOOTER ----------------------
.footer {
    background-color: $darkblue;
    .footer-p {
        align-items: $center;
        display: flex;
        color: $white;
        height: 70px;
        justify-content: $center;
        margin-bottom: 0 !important;
        text-align: $center;
    }
}

// HEADER ----------------------
.header {
    background-color: $darkblue;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px !important;
    .header-button {
        background-color: $yellow !important;
        border: $yellow !important;
        color: $black;
        text-transform: $uppercase;
        &:hover {
            background-color: $purple !important;
        }
    }
}

// LOGIN ----------------------
.container-login {
    background-color: rgba(128, 128, 128, 0.109);
    height: calc(100vh - 166px);
    padding: 50px 15px 0 15px !important;
    @include breakpoint-tablet {
        padding-top: 80px !important;
    }
    .form {
        background-color: $white;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px 10px 40px;
        @include breakpoint-tablet {
            margin: 0 auto;
            width: 50%;
        }
        @include breakpoint-desktop-1 {
            width: 40%;
        }
        @include breakpoint-desktop-2 {
            width: 30%;
        }
        .login-button {
            background-color: $yellow !important;
            border: $yellow !important;
            color: $black;
            text-transform: $uppercase;
            width: 100% !important;
            &:hover {
                background-color: $purple !important;
                color: $white;
            }
        }
    }
}

// SEARCH ----------------------
.search-button {
    background-color: $purple !important;
    border: $purple !important;
    text-transform: $uppercase;
}

.input-group {
    width: 100% !important;
    @include breakpoint-tablet {
        width: 70% !important;
    }
    @include breakpoint-tablet-desktop {
        width: 50% !important;
    }
    @include breakpoint-desktop-1 {
        width: 40% !important;
    }
}

// HOME ----------------------
.container-home {
    background-color: $darkblue;
    border-top: 1px solid rgba(204, 204, 204, 0.137);
    border-bottom: 1px solid #cccccc23;
    height: auto;
    padding: 40px 20px 20px !important;
    .team {
        padding: 0 0 30px 0!important;
        .home-title-not-selected {
            color: $white;
            padding-top: 30px;
            padding-bottom: 40%;
        }
    }
    .powerstats {
        padding: 0 0 30px 0 !important;
        @include breakpoint-tablet {
            padding: 0 30% 30px 0 !important;
        }
        @include breakpoint-tablet-desktop {
            padding: 0 40% 30px 0 !important;
        }
        @include breakpoint-desktop-1 {
            padding: 0 0 30px 0 !important;
        }
        @include breakpoint-desktop-2 {
            padding: 0 10% 30px 0 !important;
        }   
    }
}

.home-title {
    color: $white;
    padding-top: 30px;
    margin: 0 !important
}

.home-subtitle {
    color: $white;
    padding-bottom: 10px;
}

.detail-button {
    background-color: $yellow !important;
    border: $yellow !important;
    color: $black !important;
}

// MODAL ----------------------
.container-modal {
    display: flex;
    justify-content: $center;
    padding: 10px !important;
    .figure {
        object-fit: cover !important;
        margin-bottom: 50px;
        text-align: $center;
        .img-fluid {
            height: 300px;
            object-fit: cover !important;
            width: 100% !important;
        }
    }
}

.modal-content {
    background-color: rgb(240, 240, 240) !important;
    height: 500px;
    text-align: $center;
    .modal-body {
        overflow-y: scroll;
    }
}

// FIGURE ----------------------
.figure-caption {
    color: $black !important;
    font-size: 17px !important;
    .figure-button {
        display: flex;
        justify-content: space-evenly;
    }
}

// LOADER ----------------------
.loader {
    margin: 5% auto;
}

// PROGRESSBAR ----------------------
.progress-bar {
    background-color: $yellow !important;
    color: $black !important;
}

.progress {
    margin-bottom: 5px;
}

.progressBar {
    bottom: 30%;
    position: $absolute;
}

// CARD ----------------------
.card {
    border: none !important;
    margin: 3% auto;
    position: $relative;
    width: 100%;
}

.title {
    background-color: yellow;
    bottom: 0;
    left: 10px;
    padding: 5px 20px;
    position: $absolute;
}

.hidden-p {
    color: $white;
    font-size: 14px;
    left: 26px;
    position: $absolute;
    top: 23%;
}
  
.card-img {
    display: block;
    border-radius: none !important;
    height: 350px !important;
    object-fit: cover;
    width: 100%;
}
  
.card-body {
    background-color: $purple;
    bottom: 100%;
    height:0;
    left: 0;
    min-height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important; 
    position: $absolute;
    right: 0;
    transition: .5s ease;
    width: 100%;
}
  
.card:hover .card-body {
    bottom: 0;
    height: 100%;
}
  
.card-body .card-title {
    color: $white;
    font-size: 20px;
    left: 26px;
    position: $absolute;
    text-align: $center;
    top: 15%;
}

.card-button {
    display: flex;
    bottom: 12%;
    justify-content: space-evenly;
    margin: 0 50px;
    position: $absolute;
}

.card-img {
    display: block;
    width: 100%;
    height: 270px;
    border-radius: none !important;
    object-fit: cover;
}

// DETAIL INFO ----------------------
.container-detail {
    background-color: $darkblue;
    border-top: 1px solid rgba(204, 204, 204, 0.137);
    border-bottom: 1px solid #cccccc23;
    height: auto;
    padding: 40px 20px 100px 20px !important;
    
}
.title-detail {
    color: $white !important;
}

.detail-img {
    border-radius: none !important;
    display: block;
    height: 400px;
    object-fit: cover;
    padding-bottom: 20px;
    width: 100%;
}

.button-detail {
    display: flex !important;
    padding-top: 30px;
    .b-detail {
        margin-right: 20px;
        width: 100% !important;
        @include breakpoint-desktop-2 {
            width: 20% !important;
        }
    }
}

// LIST ----------------------
.list-group-item {
    background-color: $darkblue !important;
    border: none !important;
    color: $white !important;
}   

// ERROR404 ----------------------
.container-error {
    background-color: rgba(128, 128, 128, 0.109);
    color: gray;
    height: 100vh;
    padding-top: 12%;
    text-align: center;
    .error-icon {
        font-size: 60px;
    }
    .error-title {
        font-size: 50px;
        padding-top: 10px;
    }
    .error-p {
        font-size: 25px;
    }
}
